# tdm base config

	###############################
	# notes to the curious
	#
	# spawnTimeSeconds 	= -1
	# killsPerPlayer 	= -1
	# dying_counts 		= true
	#
	#  		-> RTDM
	#
	# can also use
	# killsPerPlayer 	= 1
	# for "fair" mode (both teams need same # kills)
	#
	# spawnTimeSeconds 	= 4
	# killsPerPlayer 	= 2
	# dying_counts 		= false
	#
	#  		-> "Normal" TDM
	#
	###############################


	# how long to wait per-spawn
	spawnTimeSeconds	= -1

	# how many kills each player needs.
	# set negative to play sudden death
	# where everyone needs to be eliminated
	# to win

	killsPerPlayer 		= -1

	# whether all dying counts as a
	# kill for the other team
	dying_counts		= true

	# how long before the game
	warmUpTimeSeconds 	= 1

	# how long the game runs for
	gameDurationMinutes = 5

	# whether to scramble each game
	scramble_teams		= true

	# whether to scramble the mapcycle
	#  0 = no
	#  1 = yes
	# -1 = let autoconfig decide
	scramble_maps 		= 1

	# how much to nerf fall damage for
	# easy movement (1.0 is normal)
	fall_dmg_nerf		= 1.2

# tdm coin economy

	# coins for performing various actions
	# during the game - can be spent at trader.

	coinsOnDamageAdd 	= 8
	coinsOnKillAdd 		= 15
	coinsOnAssistAdd 	= 10
	coinsOnDeathLose 	= 10 # the percentage

	# player reset coins 
	# if your team had less players , it will give you more coins
	coinsRestart 	= 50


# tdm trading

	# enable/disable shops completely

	spawn_traders_ever	= true

	# menu size

	trade_menu_width 	= 3
	trade_menu_height	= 5

	# costs
	# (you cant add custom items by default,
	#  see TDM_Trading for how it's done)

	# set to <= 0 to remove the item
	# from the trading menu completely

	cost_mat_bombs          = 20
	cost_keg          		= 80
	cost_mine               = 50

	cost_mat_arrows         = 10

	cost_boulder            = 40
	cost_burger             = 30

	cost_drill              = 120
	cost_mounted_bow        = 160
